Django==1.6.4
Pillow==2.3.0
South==0.8.4
argparse==1.2.1
beautifulsoup4==4.3.2
django-auth-ldap==1.2.0
django-localeurl==2.0.1
django-model-utils==2.0
django-mptt==0.6.0
django-oembed==0.1.3
git+ssh://git@gc/gcweb/imagetools@669938f#egg=imagetools
git+ssh://git@gc/gcweb/simplecms@8395dc4#egg=simplecms
wsgiref==0.1.2
git+http://github.com/Fantomas42/django-blog-zinnia.git#egg=django-blog-zinnia
-e git+git://github.com/dwaiter/django-ckeditor.git@391ad93#egg=ckeditor
ipython==1.1.0
python-ldap==2.4.15
