{% extends "zinnia/skeleton.html" %}
{% load zinnia_tags i18n %}
{% load core_tags %}

{% block meta-keywords %}{% get_tags as entry_tags %}{{ entry_tags|join:", "}}{% endblock meta-keywords %}

{% block meta %}
    <meta name="generator" content="Zinnia {{ ZINNIA_VERSION }}" />
    <meta name="google-site-verification" content="jr_-CDVMrAJ-ypyrIJDtH3mfFSo1GziZjRB9yLFdGF4" />
{% endblock meta %}

{% block link %}
    <link rel="index" href="{% url 'zinnia_entry_archive_index' %}" />
    <link rel="author" type="text/plain" href="{% url 'zinnia_humans' %}" />
    <link rel="EditURI" type="application/rsd+xml" href="{% url 'zinnia_rsd' %}" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% url 'zinnia_wlwmanifest' %}" />
    <link rel="search" type="application/opensearchdescription+xml" title="Zinnia's Blog" href="{% url 'zinnia_opensearch' %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of latest entries" %}" href="{% url 'zinnia_entry_latest_feed' %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of latest discussions" %}" href="{% url 'zinnia_discussion_latest_feed' %}" />
    {% get_archives_entries "zinnia/tags/entries_archives_link.html" %}
{% endblock link %}

{% block breadcrumbs %}
  {% zinnia_breadcrumbs %}
{% endblock breadcrumbs %}

{% block sidebar %}
<div id="infobox" class="widget">
  <h3>Über uns</h3>
  {% include "zinnia/tags/infobox.html" %}
</div>
<div id="opening_hours" class="widget">
  <h3>Öffnungszeiten</h3>
  {% include "zinnia/tags/opening_hours.html" %}
</div>
{% if simplecms_page.is_app_node or not simplecms_page.parent.is_nav_root or simplecms_page.parent.slug != "main" %}
{{ block.super }}

<div id="widget-categories" class="widget">
  <h3>{% trans "Categories" %}</h3>
  {% get_categories %}
</div>

<div id="widget-tags" class="widget">
  <h3>{% trans "Tags" %}</h3>
  {% core_get_tag_cloud max_num_tags=10 %}
</div>
{% endif %}
<h3>Besuch' uns auf…</h3>
<ul>
        <li><a href="https://plus.google.com/+Starship-factoryOrg"><i class="fa fa-google-plus-square">&nbsp;</i>Google+</a></li>
    <li><a href="https://twitter.com/StarshipFactory"><i class="fa fa-twitter-square">&nbsp;</i>Twitter</a></li>
    <li><a href="https://www.facebook.com/starshipfactory"><i class="fa fa-facebook-square">&nbsp;</i>Facebook</a></li>
    <li><a href="https://www.flickr.com/groups/2341518@N21/"><i class="fa fa-flickr">&nbsp;</i>Flickr</a></li>
</ul>
{% if simplecms_page.is_app_node or not simplecms_page.parent.is_nav_root or simplecms_page.parent.slug != "main" %}
<div id="widget-archives" class="widget">
  <h3>{% trans "Archives" %}</h3>
  {% get_archives_entries_tree %}
</div>
{% endif %}
{% if user.is_authenticated %}
<div id="widget-tools" class="widget">
  <h3>{% trans "Tools" %}</h3>
  <ul>
    {% if perms.zinnia %}
    <li>
      <a href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "Dashboard" %}">
        {% trans "Dashboard" %}
      </a>
    </li>
    {% endif %}
    {% if perms.zinnia.add_entry %}
    <li>
      <a href="{% url 'admin:zinnia_entry_add' %}" title="{% trans "Post an entry" %}">
        {% trans "Post an entry" %}
      </a>
    </li>
    {% endif %}
    {% block admin-tools %}
    {% endblock admin-tools %}
    <li>
      <a href="{% url 'admin:logout' %}" title="{% trans "Log out" %}">
        {% trans "Log out" %}
      </a>
    </li>
  </ul>
</div>
{% endif %}
{% endblock sidebar %}
