{% load i18n staticfiles %}
{% load simplecms_tags %}{% load localeurl_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Starship Factory - {% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="cache-control" content="public" />
<meta name="robots" content="follow, all" />
<meta name="language" content="{{ LANGUAGE_CODE }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{% block meta-description %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
<meta name="keywords" content="{% block meta-keywords %}{% endblock meta-keywords %}" />
<meta name="author" content="" />
{% block meta %}{% endblock meta %}
<link rel="pingback" href="/xmlrpc/" />
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />
<link rel="home" href="{% url 'zinnia_entry_archive_index' %}" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "css/normalize.css" %}" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "css/main.css" %}" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "font-awesome/css/font-awesome.css" %}" />
{% block link %}{% endblock link %}
{% block script %}{% endblock script %}
</head>
<body class="zinnia {% block theme-class %}default{% endblock theme-class %} {% block color-class %}blue{% endblock color-class %} {% block sidebar-class %}right-sidebar{% endblock sidebar-class %} {% block body-class %}{% endblock body-class %}">
    <div class="container clearfix">
        <div id="header" class="clearfix">
            <div class="icon-w-label menu-btn">
                <div class="icon"></div>
                <a class="label" href="#">
                    Menu
                </a>
            </div>
            <a href="/">
                <img class="titlelogo" src="{% static "images/logo.png" %}" alt="Starship Factory Logo" width="150" height="87" />
            </a>
            <div class="titlecontainer">
                <h1>
                    <a href="{% url 'zinnia_entry_archive_index' %}" title="Zinnia's Weblog" rel="home">
                        Starship Factory
                    </a>
                </h1>
                <p class="subtitle">Der Makerspace in Basel</p>
            </div>
            <div class="langswitch">
                <ul>
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <li class="item">
                        {% if LANGUAGE_CODE == language.code %}
                            {{ language.code|upper }}
                        {% else %}
                            {% with request.path|simplecms_chlocale:language.code as translation %}
                                {% if translation == "" %}
                                {{ language.code|upper }}
                                {% else %}
                                <a title="{{ language.name_local }}" href="{{ translation }}">{{ language.code|upper }}</a>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <ul class="clearfix nav-main">
            {% simplecms_nav_flat "main" %}
            <li><a href="https://wiki.starship-factory.ch/">Wiki</a></li>
        </ul>
        {% block slider %}{% endblock slider %}
        <div id="content" class="hfeed">
            {% block breadcrumbs %}{% endblock breadcrumbs %}
            {% block content %}
            <div class="links">
                <h3>{% trans "Useful links" %}</h3>
                <ul>
                    <li>
                    <a href="{% url 'zinnia_entry_archive_index' %}" title="{% trans "Weblog index" %}">
                        {% trans "Weblog index" %}
                    </a>
                    </li>
                    <li>
                    <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}">
                        {% trans "Sitemap" %}
                    </a>
                    </li>
                </ul>
            </div>
            <div class="search">
                <h3>{% trans "Search" %}</h3>
                {% include "zinnia/tags/search_form.html" %}
            </div>
            {% endblock content %}
        </div>
        <div id="sidebar">
            <form method="get" action="{% url 'zinnia_entry_search' %}" class="search">
                <p>
                <input type="text" value="{% trans "Keywords..." %}" name="pattern" onfocus="this.value=''" />
                <input type="submit" class="submitbutton" value="OK" />
                </p>
            </form>
            {% block sidebar %}
            {% endblock sidebar %}
            <ul class="bottom-navigation">
                <li>
                <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap">
                    {% trans "Sitemap" %}
                </a>
                </li>
                <li>
                <a href="{% url 'zinnia_entry_latest_feed' %}" title="{% trans "RSS Feed of latest entries" %}" class="feeds">
                    {% trans "RSS Feed" %}
                </a>
                </li>
            </ul>
        </div>
        <div id="footer">
            <p>{% blocktrans %}Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="https://github.com/Fantomas42/django-blog-zinnia">Zinnia {{ ZINNIA_VERSION }}</a>.{% endblocktrans %}
            <ul class="clearfix nav-footer">
                <li> <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a></li>
                {% simplecms_nav_flat "footer" %}
            </ul>
        </div>
    </div>
    {% block javascript %}
    <script src="{% static "js/vendor/ready.min.js" %}"></script>
    <script src="{% static "js/vendor/classList.js" %}"></script>
    <script src="{% static "js/menu.js" %}"></script>
    {% endblock %}
</body>
</html>
{% comment %} vim:ts=4:sw=4:et:ft=htmldjango
{% endcomment %}
