a:link { color: #3e5f81; }
a:visited { color: #3e5f81; }
a:hover { color: #d52; }
a:focus { color: #3e5f81; }
a:active { color: #3e5f81; }

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ddd;
    font-size: 16px;
}

p {
    line-height: 26px;
}

strong {
    color: #666;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 19px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    color: #666;
}

h1 a, h2 a, h3 a, h4 a {
    text-decoration: none;
}

.container {
    margin: 0;
	max-width: 960px;
	box-shadow: 0 0 10px #999;
    background-color: #fff;
}

.image-snippet img,
.main-image {
	max-width: 630px;
	width: 100%;
	height: auto;
}

#header {
    overflow: hidden;
    position: relative;
}
.titlelogo {
    padding: 10px;
    display: block;
    margin: 0 auto;
}
.titlecontainer {
    margin: 0 auto;
    display: block;
    text-align: center;
}
.titlecontainer h1 {
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    line-height: 38px;
    margin: 0;
}
.titlecontainer h1 + p {
    margin: 0;
}
.titlecontainer h1 a:link {
    font-weight: bold;
    text-decoration: none;
}
.icon-w-label {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.icon-w-label .icon {
    width: 35px;
    height: 35px;
}
.menu-btn .icon {
    background: url(../images/menu-btn.png) no-repeat center;
}
.menu-btn {
    position: absolute;
    right: 0;
    top: 15px;
    padding: 10px;
}
.icon-w-label .label {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

form.search {
	width: 100%;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    margin: 0 0 25px 0;
}

form.search input[type=text] { 
    width:65%;
    margin-right: 5%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
form.search input[type=submit] {
    width:30%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

#comment-form label {
    display: block;
    margin-top: 25px;
    margin-bottom: 5px;
}
#comment-form div:first-of-type label {
    margin-top: 10px;
}

#content {
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    padding: 0 10px;
}

ul.paginator {
	list-style-type: none;
}

ul.paginator li.index {
	color: #606060;
	font-size: 10pt;
}

ul.paginator li.page a {
	text-decoration: none;
}

ul.paginator li.page, ul.paginator li.ellipsis {
	display: inline;
}

ul.archive {
	list-style-type: none;
}

ul.archive li {
	display: inline;
	margin-right: 10px;
}

ul.archive li a {
	text-decoration: none;
}

div.entry-header p, div.entry-footer p {
	font-size: 10pt;
	color: #404040;
	margin: 0px 0px 0px 0px;
}

div.entry-footer p a {
	text-decoration: none;
}

.breadcrumbs {
    padding: 0;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.breadcrumbs li {
	display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.breadcrumbs li:after {
	content: "»";
	display: inline-block;
}
.breadcrumbs li:last-child:after {
	content: "";
}
.breadcrumbs a:link {
    text-decoration: none;
}

.nav-main {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-color: #3E5F81;
    background-image: -webkit-linear-gradient(#3E5F81, #294564);
    background-image: linear-gradient(#3E5F81, #294564);
    color: #fff;
    padding-left: 0;
    margin: 0;
    text-align: center;
    max-height: 0;
    -webkit-transition: ease-in-out max-height 400ms,
                        ease-in-out margin 400ms;
    transition: ease-in-out max-height 400ms,
                ease-in-out margin 400ms;
    overflow: hidden;
}
.nav-main.expanded {
    max-height: 300px;
    margin: 10px 0 0 0;
}
.nav-main li {
    list-style-type: none;
    border-left: 1px solid #294564;
    margin: 0;
}
.nav-main li:first-child {
}
.nav-main li:last-child {
    border-right: 1px solid #294564;
}
.nav-main a:link,
.nav-main a:visited,
.nav-main a:hover,
.active-item {
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
}
.active-item {
    display: inline-block;
}
.nav-main a:hover {
    color: #000;
    background-color: #AABCC5;
    background-image: -webkit-linear-gradient(#CCDEE7, #AABCC5);
    background-image: linear-gradient(#CCDEE7, #AABCC5);
}

.nav-footer {
    list-style-type: none;
    padding: 0;
    line-height: 26px;
}
.nav-footer li {
    margin: 16px 0;
}

#sidebar {
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px 10px 10px;
    max-width: 300px;
}
#sidebar h3:first-child {
	margin-top: 10px;
}
#sidebar ul {
    padding-left: 0;
}
#sidebar ul ul {
    padding-left: 10px;
}
#sidebar li {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

#sidebar #infobox {
    font-size: 10.5pt;
}

#infobox h3 {
    margin-top: 5px;
}

#widget-tags ul.tag-cloud li {
    display: inline;
    white-space: nowrap;
}

#widget-archives ul.archives-entries-tree-month li {
    margin-right: 3px;
    display: inline;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
    clear: both;
}

.entries-calendar, .no-entries-calendar {
    width: 100%;
}
.entries-calendar caption, .no-entries-calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
    color: #666;
}
.entries-calendar td, .no-entries-calendar td {
    text-align: right;
	padding: 5px;
}
.entries-calendar th, .no-entries-calendar th {
    text-align: right;
    color: #666;
}
.entries-calendar td.entry {
	background-color: #d52;
	padding: 0;
}
.entries-calendar .entry a {
	color: #FFF;
	font-weight: bold;
	padding: 5px;
	display: block;
}
.no-entries-calendar .prev,
.entries-calendar .prev {
    text-align: left;
    padding-left: 0;
}
.no-entries-calendar .next,
.entries-calendar .next {
    padding-right: 0;
}

/* Comments */

/* <ol> */
#comment-list {
      list-style: none;
      counter-reset: my-awesome-counter 0;
      padding: 0;
}

/*<li>*/
.comment {
    padding: 25px;
    counter-increment: my-awesome-counter;
    position: relative;
}
.comment:before {
    content: counter(my-awesome-counter, decimal);
    font-weight: bold;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 25px;
    color: #666;
}

.comment-info {
/*    background-color: #d52;*/
    font-style: italic;
}

.fn {
    font-weight: bold;
    font-style: normal;
}

.box1 {
    background-color: #EEE;
}

.box2 {
    background-color: #FFF;
}

#pingbacks {
    margin: 25px 0;
}

#trackbacks {
    margin: 25px 0;
}

#comment-form {
    margin: 25px 0;
}
#id_comment {
    width: 100%;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

#footer {
    overflow: hidden;
    width: 100%;
    background-color: #3E5F81;
    background-image: -webkit-linear-gradient(#3E5F81, #294564);
    background-image: linear-gradient(#3E5F81, #294564);
    color: #fff;
    padding: 0 10px;
    margin: 25px 0 0 0;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}
#footer a:link { color: #FFF; }
#footer a:visited { color: #FFF; }
#footer a:hover { color: #FFF; }
#footer a:focus { color: #FFF; }
#footer a:active { color: #FFF; }

@media only screen and (min-width: 500px) {
    .titlelogo {
        float: left;
        padding: 25px;
    }
    .titlecontainer {
        float: left;
    }
    .titlecontainer h1 {
        margin: 0;
        margin-top: 40px;
    }
    .titlecontainer h1 + p {
        margin-bottom: 10px;
    }
    #content {
        padding: 0 25px;
    }
    #sidebar {
        padding: 0 25px 25px 25px;
    }
    #footer {
        padding: 0 25px;
    }
    .menu-btn {
        right: 12px;
        top: 37px;
    }
}
@media only screen and (min-width: 600px) {
    h1 {
        font-size: 32px;
        font-weight: bold;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
    }

    h3 {
        font-size: 19px;
        font-weight: bold;
        color: #666;
    }

    #content {
        float: left;
        width: 70%;
        padding-right: 0;
    }
    #sidebar {
        float: left;
        width: 30%;
        max-width: none;
    }
}
@media only screen and (min-width: 700px) {
    .nav-footer {
        margin-left: 3px;
        float: left;
        display: inline;
    }
    .nav-footer li {
        display: inline;
        margin-left: 5px;
    }
    .nav-footer li:before {
        content: " |";
        display: inline-block;
    }
    #footer p {
       float: left;
    }
}
@media only screen and (min-width: 800px) {
    .menu-btn {
        display: none;
    }
    .nav-main {
        text-align: left;
        max-height: 300px;
    }
    .nav-main.expanded {
        margin: 0;
    }
    .nav-main li {
        float: left;
    }
    .nav-main li a {
        display: inline-block;
    }
}
@media only screen and (min-width: 900px) {
    .container {
        margin: 25px auto 25px auto;
    }
}
