a:link { color: #3e5f81; }
a:visited { color: #3e5f81; }
a:hover { color: #d52; }
a:focus { color: #3e5f81; }
a:active { color: #3e5f81; }

h1 a, h2 a, h3 a, h4 a {
    text-decoration: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ddd;
}

.container {
	margin: auto;
	margin-top: 25px;
	max-width: 960px;
	box-shadow: 0 0 10px #999;
    background-color: #fff;
}

.image-snippet img {
	max-width: 630px;
	width: 100%;
	height: auto;
}

#header {
    overflow: hidden;
    position: relative;
}

form.search {
	width: 100%;
	box-sizing: border-box;
    padding: 0;
    overflow: hidden;
}

form.search input[type=text] { 
    width:65%;
    margin-right: 5%;
    box-sizing: border-box;
    float: left;
}
form.search input[type=submit] {
    width:30%;
    box-sizing: border-box;
    float: left;
}

.titlelogo {
	float: left;
	padding: 25px;
}
.titlecontainer {
	float: left;
}
#header h1 {
	box-sizing: border-box;
    margin: 0;
    margin-top: 40px;
}
#header h1 + p {
    margin: 0;
}
#header h1 a:link {
    font-weight: bold;
    text-decoration: none;
}

#content {
	float: left;
	width: 70%;
	box-sizing: border-box;
	padding-left: 25px;
}

.breadcrumbs {
    padding-left: 25px;
    font-style: italic;
}
.breadcrumbs li {
	display: inline-block;
}
.breadcrumbs li:after {
	content: "»";
	display: inline-block;
}
.breadcrumbs li:last-child:after {
	content: "";
}
.breadcrumbs a:link {
    text-decoration: none;
}

.top-navigation {
    background-image: linear-gradient(#3E5F81, #294564);
    color: #fff;
    padding-left: 0;
    margin: 0;
}
.top-navigation li {
    list-style-type: none;
    float: left;
    border-left: 1px solid #294564;
    margin: 0;
}
.top-navigation li:first-child {
}
.top-navigation li:last-child {
    border-right: 1px solid #294564;
}
.top-navigation a:link,
.top-navigation a:visited,
.top-navigation a:hover,
.active-item {
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
}
.top-navigation a:hover {
    color: #000;
    background-color: #AABCC5;
    background-image: linear-gradient(#CCDEE7, #AABCC5);
}

#sidebar {
	float: left;
	width: 30%;
	box-sizing: border-box;
	padding: 0 25px;
}
#sidebar h3:first-child {
	/*margin-top: 0;*/
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
    clear: both;
}

.entries-calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}
.entries-calendar td {
	padding: 5px;
}
.entries-calendar td.entry {
	background-color: #d52;
	padding: 0;
}
.entries-calendar .entry a {
	color: #FFF;
	font-weight: bold;
	padding: 5px;
	display: block;
}
